header {
  width: 100%;
  height: 40px;
  backgraund-color: #db 6010;
}
  
h1 {
  float: left;
  color: #5B 2908;
  backgraund-color: #ff eedb;
}
ul {
  float: right;
}
li {
  float: right;
  list-style: none;
  padding-left: 30px;
  padding-right: 15px
}
li a {
  text-decoration: none;
  color: black;
}

h2 {
    padding-left: 15px;
    padding-top: 100px;
}
p{
    padding-left: 15px;
}
img{
  width: 100px;
  height: 100px;
}
