h1 {
  float: left;
  color: "5B2908";
  backgraund-color: "#ffeedb";
}
ul {
  float: right;
}
li {
  float: right;
  list-style: none;
  padding-left: 30px;
  padding-right: 15px;
}
li a {
  text-decoration: none;
  color: black;
}

h2 {
    padding-left: 15px;
    padding-top: 200px;
}
p{
    padding-left: 15px;
}
img{
  width: 100px;
  height: 100px;
}
header {
  width: 100%;
  height: 40px;
  color: "#db6010";
}
